@model IEnumerable<MVC_Project.Models.EntityModel.NewRelDb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Field1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mistake.MistakeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Field1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article.ArticleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mistake.MistakeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
